<!--

Will Castillo, Huy Nguyen, Tien Nguyen
February 10th, 2024
https://github.com/hnben/AIDataAnalytics
This is our overview page for the AI Data Analytics Website

There is a nav bar to access the expense, revenue, orders
and trends pages. Contains the title to indicate the time period,
logout button, and cards with statistical data of the revenue,
expenses, net gain, orders, and average order price.

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Overview</title>
</head>
<body class="background-color">
<!--the whole page -->
<div class="wrapper">
    <div class="sidebar">
        <div class="text-center">
            <a href="overview" id="duck"><img src="images/homepageFaticon.png" height="40px" width="40px" alt="A faticon of a duck "></a>
        </div>
        <ul class="list-group">
            <li><a href="overview" class="list-group-item p-4 text-center mx-2 my-2 mt-4 greyColor">Overview</a></li>
            <li><a href="expense" class="list-group-item p-4 text-center mx-2 my-2 greyColor">Expense</a></li>
            <li><a href="revenue" class="list-group-item p-4 text-center mx-2 my-2 greyColor">Revenue</a></li>
            <li><a href="analysisoptions" class="list-group-item p-4 text-center mx-2 my-2 sticky-color">Trends</a></li>
        </ul>
    </div>

    <!--    begin of main container -->
    <div class="main_content_nowrap p-3">
<!--        whole container -->
        <div class="container">
<!--            start of form -->
            <form action="#" method="post">
<!--                start of row 1 -->
                <div class="row py-4">
<!--                    this is the date chooser -->
                    <div class="btn-group pe-4" role="group" aria-label="Basic example">
                        <!-- Display an error if there is one -->
                        <check if="{{ isset(@errors['startDate']) }}">
                            <span class="text-danger">{{ @errors['startDate'] }}</span>
                        </check>
                        <div class="input-group">
                            <input type="text" class="form-control p-3" name="startDate" placeholder="Start Date: yyyy/mm/dd">
                        </div>
                        <check if="{{ isset(@errors['endDate']) }}">
                            <span class="text-danger">{{ @errors['endDate'] }}</span>
                        </check>
                        <div class="input-group ps-4">
                            <input type="text" class="form-control p-3" name="endDate"  placeholder="End Date: yyyy/mm/dd">
                        </div>
                    </div>
<!--                    end of date choosers -->
                </div>
<!--                end of row 1-->
<!--                start of row 2-->
                <div class="row pt-5">
                    <!-- start of the card  -->
                    <check if="{{ isset(@errors['trend']) }}">
                        <span class="text-danger">{{ @errors['trend'] }}</span>
                    </check>
                    <div class = "col-md-6">
                        <input type="radio" class="btn-check" name="trend" value="Trend" id="trend" autocomplete="off" >
                        <label class="btn w-100 text-center d-flex align-items-center justify-content-center btn-secondary fs-1" for="trend" style="height: 250px">Trend</label>
                    </div>
                    <div class="col-md-6">
                        <input type="radio" class="btn-check" name="trend" value="Summary" id="summary" autocomplete="off" >
                        <label class="btn w-100 text-center d-flex align-items-center justify-content-center btn-secondary fs-1" for="summary" style="height: 250px">Summary</label>
                    </div>
                    <!-- end of card  -->
                </div>
<!--                end of row 2 -->
<!--                start of button -->
                <div class="row">
                    <div>
                        <button type="submit" class="btn btn-secondary w-100 py-3 mt-5">Submit</button>
                    </div>
                </div>
<!--                end of button -->
            </form>
<!--            end of the form -->
            <!-- Button trigger modal -->
            <!-- start of the card  -->
            <check if="{{ isset(@ready['response']) }}">
                <span class="text-danger">{{ @ready['response'] }}</span>
            </check>
            <div class="row">
                <div class="container mt-5">
                    <button type="button" class="btn btn-primary w-100 py-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Get Response
                    </button>
                </div>
            </div>




            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">AI Response </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="response">
                            {{ @SESSION.gpt }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        end of whole container -->
    </div>


</div>
<!--the whole page -->
<script src="scripts/APIConnectionAgain.js"></script>
<script src="//code.jquery.com/jquery.js"></script>
</body>
</html>