<nav class="navbar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="overview">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="expense">Expense</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="revenue">Revenue</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="sales">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="trends">Trends</a>
        </li>
    </ul>
</nav>