<!-- side nav bar  -->
<div class="col-2 vh-100 d-flex flex-column justify-content-center">
    <!-- BEGINING OF LINKS  -->
    <div class="list-group ">
        <div class="d-grid gap-5">
            <a class="btn btn-primary py-3" href="#" role="button">Overview</a>
            <a class="btn btn-primary py-3" href="#" role="button">Expense</a>
            <a class="btn btn-primary py-3" href="#" role="button">Revenue</a>
            <a class="btn btn-primary py-3" href="#" role="button">Sales</a>
            <a class="btn btn-primary py-3" href="#" role="button">Trends</a>
        </div>
    </div>
    <!-- end of LINKS  -->
</div>
<!-- end of side nav bar  -->
<!-- NAV IS DONE!!!! -->