<!--

Will Castillo, Huy Nguyen, Tien Nguyen
February 10th, 2024
https://github.com/hnben/AIDataAnalytics
This is our overview page for the AI Data Analytics Website

There is a nav bar to access the expense, revenue, orders
and trends pages. Contains the title to indicate the time period,
logout button, and cards with statistical data of the revenue,
expenses, net gain, orders, and average order price.

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Sales</title>
</head>
<body>
<!-- main container  -->
<div class="container-fluid vh-100 bg-secondary">
    <div class="row">
        <!-- side nav bar  -->
        <div class="col-2 vh-100 d-flex flex-column justify-content-center">
            <!-- BEGINING OF LINKS  -->
            <div class="list-group ">
                <div class="d-grid gap-5">
                    <a class="btn btn-primary py-3" href="#" role="button">Link</a>
                    <a class="btn btn-primary py-3" href="#" role="button">Link</a>
                    <a class="btn btn-primary py-3" href="#" role="button">Link</a>
                    <a class="btn btn-primary py-3" href="#" role="button">Link</a>
                    <a class="btn btn-primary py-3" href="#" role="button">Link</a>
                </div>
            </div>
            <!-- end of LINKS  -->
        </div>
        <!-- end of side nav bar  -->
        <!-- NAV IS DONE!!!! -->





        <!-- main body -->
        <div class="col-10 vh-100 bg-info">
            <!-- END OF DATA CHANGER  -->
            <!-- CONTAINER THAT CONTAINS 2 ROWs  -->
            <div class="container text-center">
                <!-- create a row  -->
                <div class="row py-3">
                    <div class="text-center col-8">
                        <div class="btn-group w-100" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary py-3">Week</button>
                            <button type="button" class="btn btn-primary py-3">Month</button>
                            <button type="button" class="btn btn-primary py-3">Year</button>
                        </div>
                    </div>
                    <div class="logoutButton col-4 text-end">
                        <a class="btn btn-primary px-5 py-3" href="#" role="button">Logout</a>
                    </div>
                </div>
                <!-- end of a row  -->
                <!-- start of row 1 -->
                <div class="row">
                    <!-- Begining of col 1   -->
                    <div class="col-md-4">
                        <!-- start of the card  -->
                        <div class="revenue-container bg-secondary card" style="height: 250px;">
                            <div class="title text-start pb-5 px-2">
                                <h2>Revenue</h2>
                            </div>

                            <!-- displays the number get from data  -->
                            <div class="info">
                                <h4 class="fs-1">$1,000,100</h4>
                            </div>
                            <!-- end of number display from data -->
                        </div>
                        <!-- end of card  -->
                    </div>
                    <!-- end of col 1  -->

                    <!-- Begining of col 2  -->
                    <div class="col-md-4">
                        <!-- start of the card  -->
                        <div class="revenue-container bg-secondary card" style="height: 250px;">
                            <div class="title text-start pb-5 px-2">
                                <h2>Revenue</h2>
                            </div>

                            <!-- displays the number get from data  -->
                            <div class="info">
                                <h4 class="fs-1">$1,000,100</h4>
                            </div>
                            <!-- end of number display from data -->
                        </div>
                        <!-- end of card  -->
                    </div>
                    <!-- end of col 2   -->

                    <!-- Begining of col 3   -->
                    <div class="col-md-4">
                        <!-- start of the card  -->
                        <div class="revenue-container bg-secondary card" style="height: 250px;">
                            <div class="title text-start pb-5 px-2">
                                <h2>Revenue</h2>
                            </div>

                            <!-- displays the number get from data  -->
                            <div class="info">
                                <h4 class="fs-1">$1,000,100</h4>
                            </div>
                            <!-- end of number display from data -->
                        </div>
                        <!-- end of card  -->
                    </div>
                    <!-- end of col 3 -->
                </div>
                <!-- end of a row 1   -->

                <!-- start of row 2  -->
                <div class="row mt-3">
                    <!-- begining of col 1 -->
                    <div class="col-md-6">
                        <!-- start of the card  -->
                        <div class="revenue-container bg-secondary card" style="height: 250px;">
                            <div class="title text-start pb-5 px-2">
                                <h2>Revenue</h2>
                            </div>

                            <!-- displays the number get from data  -->
                            <div class="info">
                                <h4 class="fs-1">$1,000,100</h4>
                            </div>
                            <!-- end of number display from data -->
                        </div>
                        <!-- end of card  -->
                    </div>
                    <!-- end of col 1  -->

                    <!-- begining of col 2  -->
                    <div class="col-md-6">
                        <!-- start of the card  -->
                        <div class="revenue-container bg-secondary card" style="height: 250px;">
                            <div class="title text-start pb-5 px-2">
                                <h2>Revenue</h2>
                            </div>

                            <!-- displays the number get from data  -->
                            <div class="info">
                                <h4 class="fs-1">$1,000,100</h4>
                            </div>
                            <!-- end of number display from data -->
                        </div>
                        <!-- end of card  -->
                    </div>
                    <!-- end of col 2  -->
                </div>
                <!-- end of row 2 -->
            </div>
            <!-- END OF CONTAINER OF THE 2 ROWS   -->


        </div>
        <!-- end of main body  -->
    </div>
</div>
<!-- end of main container  -->
</body>
</html>