/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  } */
/* this will be the color css */
.background-color {
    background-color: #e9e9ef;
}
.revenue-color {
    color : rgba(108, 175, 96, 0.76);
}
.expense-color {
    color: rgba(225, 75, 75, 0.82);
}
.sticky-color {
    background-color: #4c5493;
    color: rgb(209, 209, 209);
}
/*end of color css */
/*card-container style*/
.overview-container {
    height: 250px;
    background-color: white;
}

.info-body{
    height: 550px;
    width: 100%;
}
/*end of card container style */
.tien-btn {
    background-color: #4c5493;
    color: rgb(209, 209, 209);
}

.tien-btn:hover {
    border: none;
    background-color: #3c7a8a;
    color: rgba(250, 250, 250, 0.93);
}
.greyColor  {
    border: none;
    background-color: #fdfdfd;
    color: grey;
}
.greyColor:hover  {
    background-color: #4c5493;
    color: rgb(209, 209, 209);
}
.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #23314c;
    padding: 20px 0px;
    position: fixed;
}

/*.wrapper .sidebar h2{*/
/*    color: #dfdfdf;*/
/*    text-transform: uppercase;*/
/*    text-align: center;*/
/*    margin-bottom: 30px;*/
/*}*/

/*.wrapper .sidebar ul li{*/
/*    list-style: none;*/
/*    padding: 25px;*/
/*    border-bottom: 1px solid #bdb8d7;*/
/*    border-bottom: 1px solid rgba(0,0,0,0.05);*/
/*    border-top: 1px solid rgba(255,255,255,0.05);*/
/*}*/

/*.wrapper .sidebar ul li a{*/
/*    color: #bdb8d7;*/
/*    text-decoration: none;*/
/*}*/


/*.wrapper .sidebar ul li:hover{*/
/*    background-color: #a59fc5;*/
/*}*/

/*.wrapper .sidebar ul li:hover a{*/
/*    color: #1e2837;*/
/*}*/


.wrapper .main_content_nowrap{
    width: 100%;
    margin-left: 200px;
}


