
body{
    background-color: white;
}
/* login page css */

#loginSection{
    background-color:#E9E9E9;
}

#loginCard{
    border-radius: 1rem;
}

#loginImage{
    border-radius: 1rem 0 0 1rem;
}

#duck{
    padding-right: 10px;
}



/*home.html css page */
.leftSide {
    height: 100vh;
}

.homeButton {
    background-color: #23314c;
    padding: 10px 50px;
    color: rgba(250, 250, 250, 0.93);
}
.homeButton:hover {
    background-color: #3c7a8a;
    color: #ffffff; ;
}

.background-color {
    background: #23314c;
    color: #bdbbbb;
}
/*end of home.html css page*/