
body{
    background-color: white;
}
/* login page css */

#loginSection{
    background-color:#E9E9E9;
}

#loginCard{
    border-radius: 1rem;
}

#loginImage{
    border-radius: 1rem 0 0 1rem;
}



/*home.html css page */
.leftSide {
    height: 100vh;
}

.homeButton {
    padding: 10px 50px;
}

/*end of home.html css page*/